@import "./normalizer.css";


.container {
width: 1280px;
margin: 0 auto;
text-align: center;
font-family: 'Roboto', sans-serif;
}

.logo{
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 94px;
display: flex;
align-items: flex-end;
text-align: center;
margin-top: 63px;
margin-bottom: 37px;
}
.logo1 {
color: black;
text-decoration: none;
}
.logo2 {
color:#4BCAFF;
text-decoration: none;
}

.container-nav-menu{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
display: flex;
text-align: center;
background: #35444F;
margin-bottom: 46px;
list-style-type: none;
padding-left: 162px;
color: #FFFFFF;
border:1px solid white(0, 0, 0, 0.0001);
border-color:  #FFFFFF;
}

.nav-menu-link2{
border-left:1px solid  #FFFFFF;
border-right:1px solid  #FFFFFF;
padding: 26px 33px 19px 32px;
}

.nav-menu-link3{
border-right:1px solid  #FFFFFF;  
padding: 26px 37px 19px 38px;
}
    
.nav-menu-link4{
border-right:1px solid  #FFFFFF;
padding: 26px 40px 19px 40px;
}
.nav-menu-link5{
border-right:1px solid  #FFFFFF;
padding: 26px 18px 19px 40px;
}

.nav-menu-link2:hover,
.nav-menu-link3:hover,
.nav-menu-link4:hover,
.nav-menu-link5:hover {
 background:  #222F3A;
}

.content{
display: flex;
}

.left-menu {
display: block;
width: 344px;
border:1px solid #000000;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 27px;
color:#485863;
}

.nav-left-menu1{
 padding-top:26px;
 padding-left:44px;
 padding-bottom: 25px;
 text-align: left;
}
.nav-left-menu2{
  padding-top:27px;
  padding-left:38px;
  padding-bottom:27px;
  text-align: left;
}

.nav-left-menu3{
 padding-top:26px;
 padding-left:42px;
 padding-bottom:26px;
 text-align: left;
}

.nav-left-menu4{
 padding-top:26px;
 padding-left:44px;
 padding-bottom:26px;
 text-align: left;
   }
.nav-left-menu5{
    padding-top:26px;
    padding-left:44px;
    padding-bottom:30px;
    text-align: left;
      }

.nav-left-menu1:hover,
.nav-left-menu2:hover,
.nav-left-menu3:hover,
.nav-left-menu4:hover,
.nav-left-menu5:hover{
font-weight: bold;
background: #DBDBDB;
}

.content-image {
width: 885px;
height: 529px;
background: rgba(0, 0, 0, 0.0001);
border: 1px solid #000000;
padding-top: 75px;
margin-left: 50px;

}

.content-image1 {
width: 320px;
height: 381px;
background: url(top1-img.png);

}
.content-image1:hover {
transform: scale(1.2)
}

.content-text{
margin-left: 50px;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #2C2C2C;
text-align: start;
margin-top: 37px;}

.content-text1{
margin-bottom: 34px;}
.content-text2{
margin-bottom: 54px;}

.footer-menu {
background: rgba(99, 105, 110, 0.48);
display: flex;
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 28px;
align-items: center;
color: #010101;
justify-content: space-between;
margin-bottom: 30px;
padding-top: 20px;
padding-bottom: 21px;
}

.footer-menu1:hover,
.footer-menu2:hover,
.footer-menu3:hover,
.footer-menu4:hover,
.footer-menu5:hover{
color:  #3181A6;
text-decoration: underline;
}

.footer-menu1 {
padding-left: 40px;
}
.footer-menu6 {
padding-left: 135px;
padding-right: 40px;
}