@import "./normalizer.css";


.container {
    width: 1280px;
    margin: 0 auto;
    margin-top: 63px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.logo{
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 94px;
display: flex;
align-items: flex-end;
text-align: center;
height: 79px;

}
.logo1 {
color: black;
text-decoration: none;
}
.logo2 {
color:#4BCAFF;
text-decoration: none;
}

.container-nav-menu{
height: 72px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
display: flex;
text-align: center;
background: #35444F;
margin-top: 38px;
margin-bottom: 48px;
list-style-type: none;
border:1px solid white;
padding-left: 190px;
}


.nav-menu-link2{
border:1px solid white;
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 32px;
padding-right: 32px;
}

.nav-menu-link3{
border:1px solid white;
height: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 38px;
padding-right: 38px;
}
    
.nav-menu-link4{
border:1px solid white;
height: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 40px;
padding-right: 40px;
}
.nav-menu-link5{
border:1px solid white;
height: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 40px;
padding-right: 18px;
}

.nav-menu-link2:hover { background:  #222F3A;}
.nav-menu-link3:hover { background: #222F3A;}
.nav-menu-link4:hover { background: #222F3A;}
.nav-menu-link5:hover { background: #222F3A;}


.content{
display: flex;
}

.left-menu {
display: flex;
flex-direction: column;
justify-content: space-around;
width: 344px;
height: 399px;
border:1px solid #000000;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 27px;
}


.nav-left-menu1:hover{
font-weight: bold;
background: #DBDBDB;
padding-top:27px;
padding-bottom: 27px;
padding-left: 44px;
}
.nav-left-menu2:hover{
font-weight: bold;
background: #DBDBDB;
padding-top:27px;
padding-bottom: 27px;
padding-left: 44px;
}
.nav-left-menu3:hover{
font-weight: bold;
background: #DBDBDB;
padding-top:27px;
padding-bottom: 27px;
padding-left: 44px;
}
.nav-left-menu4:hover{
font-weight: bold;
background: #DBDBDB;
padding-top:27px;
padding-bottom: 27px;
padding-left: 44px;
}
.nav-left-menu5:hover{
font-weight: bold;
background: #DBDBDB;
padding-top:27px;
padding-bottom: 27px;
padding-left: 44px;
}
    

.content-image {
width: 885px;
height: 529px;
background: rgba(0, 0, 0, 0.0001);
border: 1px solid #000000;
padding-top: 75px;
margin-left: 50px;

}

.content-image1 {
width: 320px;
height: 381px;
background: url(top1-img.png);

}
.content-image1:hover {
transform: scale(1.2)
}

.content-text{
margin-left: 50px;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #2C2C2C;
text-align: start;
margin-top: 37px;}

.content-text1{
margin-bottom: 34px;}
.content-text2{
margin-bottom: 54px;}

.footer-menu {
height: 69px;
background: rgba(99, 105, 110, 0.48);
display: flex;
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 28px;
align-items: center;
color: #0C1927;
justify-content: space-around;

}

.footer-menu1:hover{
color:  #3181A6;
 text-decoration: underline;
}

.footer-menu2:hover{
color:  #3181A6;
text-decoration: underline;
}
.footer-menu3:hover{
color:  #3181A6;
text-decoration: underline;
}
.footer-menu4:hover{
 color:  #3181A6;
text-decoration: underline;
}
.footer-menu5:hover{
color:  #3181A6;
text-decoration: underline;
}
.footer-menu6:hover{
color:  #3181A6;
text-decoration: underline;
}
.footer-menu6 {
padding-left: 135px;
}